head
  title SOVORI

  link(rel="stylesheet", type="text/css", href="/resources/css/all.css")
  script(src="/resources/ts/sovori-frontend/src/main/ts/app.js", type="module")
body
  #content
    .question-container
      .question-input#question
    .answer-container
      #answer.answer-input(contenteditable="true")
  dialog#questionDialog.question-dialog
    .question-dialog-title edit question
    .question-dialog-content
      input.question-dialog-input
      div
        button(type="button").question-dialog-close.btn-neutral cancel
        button(type="button").question-dialog-save save


