head
  title SOVORI

  link(rel="stylesheet", type="text/css", href="/resources/css/all.css")
  script(src="/resources/ts/app.js", type="module")
body
  #content
    .question-container
      .question-input#question
    .answer-container
      #answer.answer-input(contenteditable="true")
  dialog#questionDialog.question-dialog
    title edit question
    input.question-dialog-input
    div
      button(type="button") Close
      button(type="button") Save

