head
  title SOVORI

  link(rel="stylesheet", type="text/css", href="/resources/css/all.css")
  script(src="/resources/sovori-frontend/src/main/ts/app.js", type="module")
body
  #content
    div
      .question-container
        .question-input#question
      .answer-container
        #answer.editable-input(contenteditable="true")
      dialog#questionDialog.question-dialog.dialog
        .question-dialog-title.dialog-title edit question
        .dialog-content
          input.question-dialog-input
          div
            button(type="button").question-dialog-close.btn-neutral cancel
            button(type="button").question-dialog-save save

      dialog#recordDialog.record-dialog.dialog
        .question-dialog-title.dialog-title add record
        .dialog-content
          input.recordDialogQuestion.record-dialog-input
          .recordDialogAnswer.editable-input(contenteditable="true")
          div
            button(type="button").question-dialog-close.btn-neutral cancel
            button(type="button").question-dialog-save save
    .footer#footer
        div.footer-add-record add record



