head
  title SOVORI

  link(rel="stylesheet", type="text/css", href="/app/css/all.css")
  script(src="/app/ts/app.js", type="module")
body
  #content
    .question-container
      .question-input#question
    .answer-container
      textarea#answer.answer-input

